.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  margin: 60px 5px 5px 5px;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;

  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

.icon {
  visibility: hidden;
}

.fas {
  color: rgba(234, 238, 17, 0.932);
  margin: 10px;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.once-again-button {
  position: absolute;
  left: 800px;
  top:210px;
  font-size: 1.5rem;
  border-radius: 12px;
  background-color: gray;
  border: none;
}

.get-players-name {
  position: absolute;
  left: 450px;
  top:210px;
  font-size: 1.5rem;
  border-radius: 12px;
  background-color: gray;
  border: none;
}

.buttonpressed {
  box-shadow: 3px 3px 3px 3px black;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 1rem;

}
